<!--logback/logback-dev.xml-->
<configuration>
    <!-- 공통 변수 지정 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss,Asia/Seoul}] [dev] [trace:%X{traceId:-}, span:%X{spanId:-}, req:%X{requestId:-}] [%thread] %-5level [%C.%M:%L] - %msg%n"/>

    <!-- Console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="eusyaeusya.gmg" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- SQL 로깅 -->
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Spring Framework -->
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.springframework.web" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <!-- Logger 설정 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>